
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/Aboutxx.css" media="all" />



<div class="container-fluid">
    <div class="row head-about"></div>
    <div class="row offer-about">
        <div><span>About</span></div>
        <div><span class="name">Home / Page / About</span></div>
    </div>
    <div class="row intro">

        <div class="container">
            <div class="head-intro">Welcome to <strong class="sym">Symphony Limited</strong> education</div>
            <div><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae erat convallis, placerat leo in, ultricies orci. Ut nec tellus vitae magna fringilla sodales.</strong></div>
            <div> Nullam in blandit elit. Maecenas tellus lectus, efficitur eget tristique fringilla, commodo nec ante. Proin quis lectus nisi. Vivamus lacinia efficitur tellus, in iaculis risus luctus ac. Fusce nec tempor nunc, eget posuere diam. Nullam a imperdiet nisl. Sed at placerat massa, a fermentum arcu. Sed sem leo, interdum at luctus vel, pellentesque vitae augue.Nunc eu laoreet elit. Aliquam erat volutpat. Quisque tincidunt lectus id risus auctor tincidunt. Etiam iaculis magna tortor, et finibus erat ornare pharetra.    </div>
        </div>


    </div>
    <div class="row Designby">
        <div class="col">
            <div class="row">
                <div class="col left">
                </div>
                <div class="col left">
                    <div class="head-team">HS2Team</div>
                    <div class="para-title-team">Nullam in blandit elit. Maecenas tellus lectus, efficitur eget tristique fringilla, commodo nec ante. Proin quis lectus nisi.</div>
                    <div class="history-team">Integer fermentum, sem sit amet vulputate congue, quam nibh rhoncus leo, id rutrum orci elit vel velit. Pellentesque pretium nulla a justo viverra vehicula sit amet in turpis. Quisque ut lacus purus. Quisque quis vehicula enim, vel gravida nulla. Praesent at turpis mattis, posuere erat at, ullamcorper nulla. Vestibulum in hendrerit tellus, ut facilisis ipsum. Quisque volutpat massa sed mauris auctor maximus. Ut congue condimentum lectus in ultrices. </div>
                    <div class="sign">Design by Quhu</div>
                    <div>QuhuVan</div>
                </div>
            </div>
        </div>
        <div class="col right">
            <div class="slide-team">
                <video style="width:100%;padding:50px" src="~/Upload/video/What makes you special_ _ Mariana Atencio _ TEDxUniversityofNevada.mp4" muted autoplay></video>
            </div>
        </div>
    </div>
    <div class="row Activity">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="img">
                        <img src="~/Upload/icon/iconhat.png" width="100" alt="" />
                    </div>
                    <div class="head-activity">Curabitur ipsum dolor</div>
                    <div><p>In id nisi maximus, convallis nibh vitae, pharetra libero. Curabitur ipsum dolor, rhoncus eu viverra nec, tincidunt nec ante. Proin non ex libero. Cras egestas urna in erat imperdiet, eu pharetra elit vestibulum.</p></div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="~/Upload/icon/iconschool.png" width="100" alt="" />
                    </div>
                    <div class="head-activity">Curabitur ipsum dolor</div>
                    <div><p>In id nisi maximus, convallis nibh vitae, pharetra libero. Curabitur ipsum dolor, rhoncus eu viverra nec, tincidunt nec ante. Proin non ex libero. Cras egestas urna in erat imperdiet, eu pharetra elit vestibulum.</p></div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="~/Upload/icon/iconworld.png" width="100" alt="" />
                    </div>
                    <div class="head-activity">Curabitur ipsum dolor</div>
                    <div><p>In id nisi maximus, convallis nibh vitae, pharetra libero. Curabitur ipsum dolor, rhoncus eu viverra nec, tincidunt nec ante. Proin non ex libero. Cras egestas urna in erat imperdiet, eu pharetra elit vestibulum.</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row History">
        <div class="container">
            <div class="row">
                <div class="time-line">
                    @*circle*@
                    <div class="circle-tine">1998</div>
                    <div class="circle-tine">2001</div>
                    <div class="circle-tine">2008</div>
                    <div class="circle-tine">2011</div>
                    <div class="circle-tine">2016</div>
                    <div class="circle-tine">2021</div>
                    @*line*@
                    <div class="line-time"></div>
                    <div class="line-time1"></div>
                    <div class="line-time2"></div>
                    <div class="line-time3"></div>
                    <div class="line-time4"></div>
                    @*rectangle*@
                <div class="rectangle-time ">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin.</div>
                <div class="rectangle-time1">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin</div>
                <div class="rectangle-time2">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin</div>
                <div class="rectangle-time3">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin</div>
                <div class="rectangle-time4">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin</div>
                <div class="rectangle-time5">Curabitur varius eleifend posuere. Aenean posuere nisi vel neque pharetra maximus. Donec dignissim tellus vitae libero venenatis sollicitudin</div>

                </div>
            </div>
        </div>
    </div>

    <div class="row Contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="form-contact">
                        <div class="form-contact-sm">
                            <form>
                                <h3>Contact Us</h3>
                                <input type="text" value="" placeholder="Full Name" />
                                <input type="text" value="" placeholder="Email" />
                                <textarea name="" placeholder="Type your message"></textarea>
                            </form>
                            <div class="btn-contact"><button>SEND</button></div>
                        </div>
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2796846752904!2d106.69378432038874!3d10.789877901698512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a1b2a41a6d%3A0xf1ac6a5097ebbabb!2sMAAC%20Vietnam!5e0!3m2!1svi!2s!4v1621352470682!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

