
@{ ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/HomePage.cshtml"; }
<script src="~/Scripts/readMoreJS.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    .subheads {
        height: 100px;
    }

    .offer-forum {
        background-image: url(../Upload/bg/bestbg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position-y: bottom;
        clip-path: polygon(0 0, 50% 22%, 100% 0, 100% 100%, 50% 78%, 0 100%);
        height: 500px;
    }

    .head-forum {
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bolder;
        font-size: 40px;
        padding: 150px 0px 50px 0px;
        color: #808080;
    }

    .newfeed-cover {
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .avatar {
        width: 100%;
        padding: 20px;
    }

        .avatar img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

    .name {
        font-size: 20px;
        font-weight: bolder;
        padding-top: 20px;
        padding-left: 20px;
    }

    .content-newfeed {
        padding: 20px;
    }

    .pic img {
        height: auto;
        width: 100%;
    }

    .action {
        height: 50px;
    }

        .action .col {
            text-align: center;
        }

        .action .like button {
            padding-top: 5px;
            background-color: transparent;
            font-size: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }

            .action .like button:active {
                transform: scale(0.95);
            }

        .action .comment button {
            padding-top: 5px;
            background-color: transparent;
            font-size: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }

            .action .comment button:active {
                transform: scale(0.95);
            }

    .comment-box {
        padding: 20px;
        height: 100px;
    }

    .text-comment {
        width: 100%;
    }

        .text-comment form {
            height: 40px;
            width: 100%;
            background: none;
            display: flex;
        }

            .text-comment form input {
                height: 100%;
                width: 100%;
                background: none;
                border: none;
                outline: none;
                padding-left: 30px;
                font-size: 18px;
                font-weight: bold;
                background: #dedede;
                color: #808080;
                border-radius: 50px;
            }

        .text-comment .avatar-sm img {
            height: 40px;
            width: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }

    ::-webkit-input-placeholder {
        color: #808080;
    }

    .text-comment button {
        width: 50px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

        .text-comment button:active {
            transform: scale(0.95);
        }

        .text-comment button i {
            font-size: 35px;
            color: #eeba10;
        }

    .comment-gene {
        padding-left: 40px;
        padding-right: 40px;
    }

        .comment-gene .message-box {
            padding: 20px;
            background: #dedede;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        .comment-gene .avatar-sm-usr img {
            height: 40px;
            width: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }

    .comment-gene {
        font-weight: bold;
        font-size: 16px;
        color: #808080;
    }

    .LoadMore4 {
        padding: 10px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-size: 20px;
    }

        .LoadMore4:hover {
            color: #808080;
        }

    .items4 {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row subheads"></div>
    <div class="row offer-forum">
        <div class="head-forum">
            Forum <br />
            The place to answer all your questions
        </div>
    </div>
    @*vong lap bai viet*@
    @foreach (var item in ViewBag.listpost)
    {
                       
<div class="container newfeed-cover">
    <div class="row">
        <div class="avatar col"><img src="~/Upload/imguser/@item.imgad" alt="Alternate Text" /><span class="name">@item.namead</span></div> @*Admin img*@
    </div>
    <div class="row content-newfeed dummy">
        <p>@Html.Raw(item.content)</p>
    </div>
    <div class="row picture-new">
        <div class="pic col">
            <img src="~/Upload/imgpost/@item.img" alt="" />
        </div>
    </div>
    <hr />
    <div class="row action">
        <div class="col like">
            <button><i id="hearts" class='bx bxs-heart-circle' style='color:#808080'></i></button>
        </div>
        <div class="col comment">
            <button><i class='bx bxs-message' style='color:#808080'></i></button>
        </div>
    </div>
    <hr />
    @*Vong lap comment*@
   
        <div class="row comment-gene items4">
            <div class="row">
                <div class="avatar-sm-usr"><img src="~/Upload/imguser/" alt="Alternate Text" /></div> @*Usr img, usr name*@
            </div>
            <div class="row message-box dummy">
                <p>                   
                </p>
            </div>
        </div>
       
    @*Vong lap comment*@
    <button class="LoadMore4">View more comment</button>
    <div class="row comment-box">
        <div class="text-comment">
            <form>
                <div class="avatar-sm"><img src="~/Upload/Team/Hung.jpg" alt="Alternate Text" /></div> @*thang nao dang nhap thi la hinh cua thang do*@
                <input type="text" value="" placeholder="Write comment...." />
                <button><i class='bx bxs-send' style='color:#808080'></i></button>
            </form>
        </div>
    </div>
</div>}

    @*vong lap bai viet*@

</div>

    <script>
        $readMoreJS.init({
            target: '.dummy p',
            numOfWords: 70,
            toggle: true,                 // If true, user can toggle between 'read more' and 'read less'
            moreLink: '<span style="color:black;font-weight:bolder;">More</span>',
            lessLink: '<span style="color:black;font-weight:bolder;">Less</span>'
        });
        var hs = document.getElementById('hearts');
        $('.like button').click(function () {
            if (hs.style.color == 'red') {
                hs.style.color = '#808080';
            }
            else {
                hs.style.color = 'red';
            }
        });

        $(".items4").slice(0, 1).show();
        $(".LoadMore4").on("click", function () {
            $(".items4:hidden").slice(0, 1).show();
            if ($(".items4:hidden").length == 0) {
                $(".LoadMore4").fadeOut();
            }
        });

    </script>



