body {
    font-family: 'Rubik', sans-serif;
}
* {
    transition:0.5s;
}

@media (max-width:479px) {
}

@media (max-width:767px) and (min-width:480px) {
}

@media (min-width:768px) and (max-width:1023) {
}

@media (min-width:1024px) {
    .adminpage {
        position:relative;
        margin:0;
        padding:0;
        background-color:#0094ff;
        box-sizing:border-box;
    }
    .adminpage .menubar {
        height:100vh;
        width:20%;
        background:#000000;
        position:absolute;
    }
    .adminpage .content-admin {
        background-color:#fff;
        height:100vh;
        width:80%;
        position:absolute;
        left:20%;
        padding:50px;
    }
    .adminpage .menubar .logo-cv {
        margin-right:auto;
        margin-left:auto;
        width:100px;
        height:100px;
        background-color:aquamarine;
        margin-top:50px;
        margin-bottom:50px;
    }
    .menubar .accordion {
        width: 100%;
        height: 50px;
        background-color: #000000;
        cursor: pointer;
        border: none;
        padding: 0;
        transition: 0.5s;
        position: relative;
        text-transform: uppercase;
        font-weight: bolder;
        outline: none;
        color: #eeba10;
        position:relative;
    }
    .accordion a {
        text-decoration:none;
        color:white;
    }
    .menubar .accordion1 {
        width: 100%;
        height: 50px;
        background-color: #000000;
        cursor: pointer;
        border: none;
        padding: 0;
        transition: 0.5s;
        position: relative;
        text-transform: uppercase;
        font-weight: bolder;
        outline: none;
        color: #eeba10;
        position: relative;
    }

    .accordion1 a {
        text-decoration: none;
        color: white;
    }
    .active, .accordion1:hover {
        background-color: #ccc;
    }
    .panel .btn-sub a {
        text-decoration: none;
        color: white;
    }
    .active, .accordion:hover {
        background-color: #ccc;
    }
    .menubar .btn-sub {
        width: 100%;
        height: 30px;
        border: none;
        cursor: pointer;
        font-weight: bolder;
        color:white;
        background:rgba(0,0,0,0.9);
    }
    .menubar .btn-sub:hover {
        background:#eeba10;
        color:#000000;
    }
    .panel {
        padding: 0;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    .menubar .accordion:hover {
        background-color: #1b1b1b;
        color: aliceblue;
    }
    .menubar .accordion1:hover {
        background-color: #1b1b1b;
        color: aliceblue;
    }
    
    .content-admin .admin-manage {
        position:relative;
        overflow:hidden;
        width:100%;
        overflow-x:auto;
        height:100%;
    }
    /*scroll*/
    
    .srcbar {
        margin-bottom: 10px;
        width: 300px;
        height: 40px;
        outline-color: #eeba10;
        padding-left: 20px;
        border: 2px solid #eeba10;
        color: #eeba10;
        background-color: white;
    }
    /*table*/
    
    table {
        table-layout: fixed;
    }

    .tbl-header {
        background-color: #eeba10;
    }

    .tbl-content {
        height: 820px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(0,0,0,0.3);
    }

    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 16px;
        color: #000000;
        border-bottom: solid 1px rgba(0,0,0,0.1);
        font-weight:bold;
    }
    
    td a i {
        color:#000000;
    }
    td a i:hover {
        color:#eeba10;
    }

    .made-with-love {
        margin-top: 40px;
        padding: 10px;
        clear: left;
        text-align: center;
        font-size: 10px;
        font-family: arial;
        color: #fff;
    }

    .made-with-love i {
        font-style: normal;
        color: #F50057;
        font-size: 14px;
        position: relative;
        top: 2px;
    }

    .made-with-love a {
        color: #fff;
        text-decoration: none;
    }

    .made-with-love a:hover {
        text-decoration: underline;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height:6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 20px;
        background-color:#eeba10;   
    }
    /*course*/
    .left-input form input {
        width: 300px;
        margin-right:80px;
        height: 40px;
        margin-bottom: 10px;
        outline-color: #eeba10;
        padding-left: 20px;
        border: 2px solid #eeba10;
        color: #eeba10;
        background-color: white;
    }
    .left-input button {
        height:40px;
        width:150px;
        border-radius:5px;
        background-color:#eeba10;
        border:none;
        margin-bottom:50px;
        font-weight:bold;
        cursor:pointer;
    }
    .left-input select {
        margin-top: 10px;
        margin-right: 80px;
        width: 300px;
        height: 40px;
        outline-color: #eeba10;
        padding-left: 15px;
        border: 2px solid #eeba10;
    }
    .left-input form .img {
        width: 300px;
        height: 300px;
        margin-top:10px;
        color:#eeba10;
    }
    .left-input .Content {
        height:500px;
        width:500px;
    }
    
}
