

ul li{
    list-style: none;
}

ul {
    list-style: none;
}

input[type=radio] {
    border: 0px;
    width: 22px;
    height: 15px;
    margin: 20px;
}

p {
    font-family: 'Gabriola', serif;
}
/* Quiz Classes */
.quizs .container {
    position:relative; 
}
.quizContainer {
    margin-top:150px;
    background-color: white;
    border-radius: 6px;
    width:100%;
    height:700px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
    position: relative;
    overflow-y:scroll;
    overflow:hidden;
}

.answer-box {
    width:100%;
    height:400px;
    overflow:hidden;
    overflow-y:scroll;
    margin-top:0px;
}
#quiz1 {
    margin-top: 20px;
}
#btnconti {
    display:none;
}
.btn-sub {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}
.btn-sub button {
    margin-top: 10px;
    border-radius: 6px;
    height: 50px;
    width: 150px;
    background-color: #eeba10;
    color: white;
    position: relative;
    border: none;
    outline: none;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
    display:none;
}
.btn-start {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}
.btn-start button {
    margin-top: 10px;
    border-radius: 6px;
    height: 50px;
    width: 150px;
    background-color: #eeba10;
    color: white;
    position: relative;
    border: none;
    outline: none;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn-sub button:active {
    transform: scale(0.95);
}

.question {
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #eeba10;
    text-align: center;
    font-size:30px;
    padding-top:5px;
    padding-bottom:5px;
}

.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    top: 80%;
    left: 40%;
    margin-top:10px;
    opacity:0;
}

.choiceList {
    margin-top: 3%;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width:50%;
    height:350px;
    margin-left:25%;
    margin-top:100px;
    
}
.choiceList li {
    margin-top:15px;
    margin-bottom:15px;
    height:50px;
    background:#eeba10;
    border-radius:5px;
}

.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color: green;
    text-align: center;
    font-size: 25px;
    font-family: 'Verdana', serif;
    font-weight: bold;
    top: 80%;
    left: 30%;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
}
.result_fail {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color: red;
    text-align: center;
    font-size: 25px;
    font-family: 'Verdana', serif;
    font-weight: bold;
    top: 80%;
    left: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}
.result_passed {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color: green;
    text-align: center;
    font-size: 25px;
    font-family: 'Verdana', serif;
    font-weight: bold;
    top: 80%;
    left: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}
.Timer {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    text-align: center;
    margin-top:20px;
}
.Timers {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    text-align: center;
    margin-top: 20px;
    display: none;
}

