body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container-fluid {
    margin:0;
    padding:0;
}
.sub-head {
    height:90px;
    width:100%;
    background-color:white;
}
.offer-faq {
    height: 400px;
    background-image: url(../Upload/bg/bestbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    display: grid;
}
.searchbar {
    margin-right:auto;
    margin-left:auto;
    height:40px;
    width:100%;
    padding:0;

}
.searchbar input {
    width:100%;
    outline-color:#eeba10;
    border:2px solid #eeba10;
    padding-left:20px;
    font-weight:bolder;
    color:#eeba10;
}
.searchbar button {
    height:40px;
    width:40px;
    border:none;
    background:#eeba10;
    outline-color:#eeba10;
    cursor:pointer;
    
}
.searchbar-ins {
    width:100%;
    display:flex;
}
.questions {
    margin-top:50px;
    width: 90%;
    height: 50px;
    padding:10px 10px 0 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-right:auto;
    margin-left:auto;
    position:relative;
    font-weight:bold;
    font-size:20px;
}
.question {
    font-weight: bolder;
    font-size: 20px;
    position:absolute;
    
}
.question-box {
    position:relative;
}
.question-box button {
    position: absolute;
    right: 6%;
    border: none;
    background: none;
    outline: none;
    margin-top: 60px;
    cursor: pointer;
}
#btn-up {
    display:none;
}

.Answer {
    width: 90%;
    height: 0px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: 0.8s;
    overflow: hidden;
}

.answer-content {
    margin-top:30px;
    overflow:hidden;
    overflow-y:scroll;
    width:100%;
    height:100%;
}
.Answer p {
    padding: 20px;
}
.btn-cv button {
    background-color:red;
}
.question-box button:focus + .Answer {
    height: 300px;
}
.hidden {
    display:none;
}
.items {

}


