
@{
    ViewBag.Title = "Course";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminx.css" media="all" />
<style>
    .Course-cv {
        height:100%;
        overflow-y: scroll;
    }
</style>
<div class="container-fluid Course-cv">
    <div class="row ">
        <div class="col left-input ">
            <div class="container ">
                <form method="post" action="@Url.Action("Addcourse")" enctype="multipart/form-data">
                    <input type="text" required name="namecourse" value="" placeholder="Name " />
                    <input type="text" required name="price" value="" placeholder="Price " />
                    <input type="text" required name="time" value="" placeholder="Time " />
                    <input type="text" required name="material" value="" placeholder="Material" />
                    <input type="date" required name="start" value="" placeholder="Startime" />
                    <input type="date" required name="end" value="" placeholder="Endtime" />
                    <select name="teacher">
                        <option disabled required selected hidden>Select Teacher</option>
                        @foreach (var items in ViewBag.listtea)
                        {
                <option>@items.fullname</option>}
                    </select>
                    <select name="grade">
                        <option disabled required selected hidden>Select Grade</option>
                        <option>Primarys school</option>
                        <option>Junior high school</option>
                        <option>High school</option>
                        <option>University</option>
                    </select>
                    <select name="type">
                        <option disabled required selected hidden>Select Type</option>
                        <option>New</option>
                        <option>Popular</option>
                    </select>

                    <br />
                    <img id="output" class="img" />
                    <p><input type="file" accept="image/*" name="myimg" id="myimg" onchange="loadFile(event)" style="display: none;"></p>
                    <p><label for="myimg" style="cursor: pointer; border:1px solid #eeba10; background-color:#eeba10;width:150px;height:40px;padding:9px;font-weight:bold;">Upload Image<i style="font-size:18px;margin-left:5px;" class='bx bx-upload'></i></label></p>
                    <textarea class="Content" name="content" id="content" placeholder="Content">
                </textarea>
                    <br />
                    <button type="submit">ADD</button>
                </form>
            </div>

        </div>       
    </div>
</div>
<script>
    CKEDITOR.replace('content',{
        heigth: 700,
        width:100 + '%'
    });
</script>


