
@{
    ViewBag.Title = "Exam";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminx.css" media="all" />
<style>
    .Course-cv {
        height: 880px;
        overflow-y: scroll;
    }
    .Exam-cv {
        margin-top:16%;
        margin-left:25%;
    }
</style>
<div class="container-fluid ">
    <div class="row Course-cv">
        <div class="col left-input">
            <div class="container Exam-cv">
                <form action="@Url.Action("Addexam")" method="post">
                    <input type="text"  required name="question" value="" placeholder="Question " />
                    <br />
                    <input type="text"  required name="answerA" value="" placeholder="Answer A" />
                    <br />

                    <input type="text" required  name="answerB" value="" placeholder="Answer B" />
                    <br />

                    <input type="text" required  name="answerC" value="" placeholder="Answer C" />
                    <br />

                    <input type="text" required name="answerD" value="" placeholder="Answer D" />
                    <br />

                    <select name="course">
                        <option disabled required selected hidden>Select Course</option>
                        @foreach (var items in ViewBag.listcourse)
                        {
                            <option>@items.name</option>}
                    </select>
                    <br />

                    <select name="correct">
                        <option required  disabled selected hidden>Select Correct Answer</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                    <br />
                    <br />

                    <button type="submit">ADD</button>
                </form>
            </div>

        </div>

    </div>
</div>
<script>
    CKEDITOR.replace('editor1',{
        heigth: 700,
        width:100 + '%'
    });
</script>


