
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminx.css" media="all" />
<link rel="stylesheet" href="~/Areas/Admin/ckeditor/ckeditor.js" media="all" />
<style>
    .Course-cv {
        height: 100%;
        overflow-y: scroll;
    }

</style>
<div class="container-fluid Course-cv ">
    <div class="row ">
        <div class="col left-input">
            <div class="container Exam-cv">
                <form method="post" action="@Url.Action("Addfaq")">
                    <input type="text" required name="question" value="" placeholder="Question " />
                    <br />
                    <br />
                    <textarea name="content" >
                    </textarea>
                    <br />
                    <br />

                    <button type="submit">ADD</button>
                </form>
            </div>

        </div>

    </div>
</div>
<script>
    CKEDITOR.replace('content',{
        heigth: 800 + 'px',
        width:100 + '%'
    });
</script>

