
@{
    ViewBag.Title = "PostAdmin";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminx.css" media="all" />
<style>
    .Course-cv {
        height: 100%;
        overflow-y: scroll;
    }
</style>
<div class="container-fluid Course-cv">
    <div class="row ">
        <div class="col left-input">
            <div class="container Exam-cv">
                <form method="post" action="@Url.Action("Addpostadmin")" enctype="multipart/form-data">
                    <br />

                    <select name="type">
                        <option required disabled selected hidden>Select Type</option>
                        @foreach(var item in ViewBag.listtype)
                        {
                            <option>@item.name</option>
                        }
                    </select>
                    <br />
                    <img id="output" class="img" />
                    <p><input type="file" accept="image/*" name="myimg" id="myimg" onchange="loadFile(event)" style="display: none;"></p>
                    <p><label for="myimg" style="cursor: pointer; border:1px solid #eeba10; background-color:#eeba10;width:150px;height:40px;padding:9px;font-weight:bold;">Upload Image<i style="font-size:18px;margin-left:5px;" class='bx bx-upload'></i></label></p>
                    <span style="font-size:18px;font-weight:bold;">Content</span>
                    <br />
                    <textarea class="Content" name="content" placeholder="Content">
                </textarea>
                    <br />
                    <br />

                    <button type="submit">ADD</button>
                </form>
            </div>

        </div>

    </div>
</div>
<script>
    CKEDITOR.replace('content',{
        heigth: 700,
        width:100 + '%'
    });
</script>

